<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.major.knowledgePlanet.mapper.ActivityMapper">
    <insert id="addActivity" useGeneratedKeys="true" keyProperty="activityId">
        insert knowledge_planet.activity(p_code, title, description, address, status, tag, start_time, end_time, create_time, cur_number, max_number)
        values(#{planetCode},#{title},#{description},#{address},#{status},#{tag},#{startTime},#{endTime},#{createTime},#{curNumber},#{maxNumber});
    </insert>
    <insert id="addRel">
        insert  knowledge_planet.user_activity_rel(u_id, activity_id, role)
        values(#{userId},#{activityId},#{role});
    </insert>
</mapper>