<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.major.knowledgePlanet.mapper.LoginLogMapper">

    <resultMap id="LoginLog" type="LoginLog">
        <id property="id" column="id"/>
        <result property="userId" column="u_id"/>
        <result property="createTime" column="create_time"/>
        <result property="ip" column="ip"/>
        <result property="browser" column="browser"/>
    </resultMap>


    <insert id="addLoginLog" parameterType="LoginLog">
        insert knowledge_planet.login_log(id,u_id,create_time,ip,browser)
        values(#{id},#{userId},#{createTime},#{ip},#{browser});
    </insert>


    <select id="getLoginLogById" parameterType="Long"  resultMap="LoginLog">
        select * from knowledge_planet.login_log
        where u_id = #{userId};
    </select>

    <select id="getActiveCalender" parameterType="Long" resultType="String" >
        select create_time from knowledge_planet.login_log
        where u_id = #{userId};
    </select>
</mapper>

