<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.major.knowledgePlanet.mapper.PlanetMapper">
    <resultMap id="Planet" type="Planet">
        <id property="planetCode" column="p_code"/>
        <result property="planetName" column="p_name"/>
        <result property="createTime" column="create_time"/>
        <result property="maxNumber" column="max_number"/>
        <result property="planetDescription" column="p_description"/>
        <result property="planetAvatar" column="p_avatar"/>
        <result property="hot" column="hot"/>
    </resultMap>
    <resultMap id="UserPlanetDTO" type="UserPlanetDTO">
        <id property="userId" column="u_id"/>
        <result property="role" column="role"/>
        <result property="integral" column="integral"/>
        <association property="planet" resultMap="Planet"/>
    </resultMap>
    <resultMap id="RecommendPlanetVO" type="RecommendPlanetVO">
        <id property="planet.planetCode" column="p_code"/>
        <result property="uploaderName" column="u_name"/>
        <result property="uploaderAvatar" column="avatar"/>
        <association property="planet" resultMap="Planet"/>
    </resultMap>
    <resultMap id="UserPlanetRel" type="UserPlanetRel">
        <id property="userId" column="u_id"/>
        <result property="role" column="role"/>
        <result property="integral" column="integral"/>
        <result property="planetCode" column="p_code"/>
    </resultMap>
    <resultMap id="UserPlanetVO" type="UserPlanetVO">
        <result property="integral" column="integral"/>
        <association property="planet" resultMap="Planet"/>
    </resultMap>
    <resultMap id="UserIntegral" type="Map">
        <id property="userId" column="u_id"/>
        <result property="integral" column="integral"/>
    </resultMap>
    <resultMap id="User" type="User">
        <id property="userId" column="u_id"/>
        <result property="userName" column="u_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="avatar" column="avatar"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
    </resultMap>
    


    <insert id="addPlanet" parameterType="Planet" useGeneratedKeys="true" keyProperty="planetCode">
        insert knowledge_planet.planet(p_name, create_time,max_number, p_description, p_avatar, hot)
        values(#{planetName},#{createTime},#{maxNumber},#{planetDescription},#{planetAvatar},#{hot});
    </insert>

    <insert id="addUserPlanetRel" parameterType="UserPlanetRel">
        insert knowledge_planet.user_planet_rel(u_id, p_code, role, integral)
        values(#{userId},#{planetCode},#{role},#{integral});
    </insert>

    <select id="getHotestPlanet" resultType="Planet" resultMap="Planet">
        select p_code , p_name ,create_time ,max_number,p_description , p_avatar ,hot from knowledge_planet.planet
        order by hot desc limit 5;
    </select>

    <select id="getRecommendPlanet" resultMap="RecommendPlanetVO">
        select p.p_code,p_name,p.create_time,max_number,p_description,p_avatar,hot,u_name ,avatar
        from knowledge_planet.user u,knowledge_planet.planet p,knowledge_planet.user_planet_rel upr
        where u.u_id=upr.u_id and p.p_code=upr.p_code and role=1 and p.p_code not in (
            select distinct s.p_code
            from knowledge_planet.user_planet_rel s
            where s.u_id=#{userId}
            )
        order by hot desc limit 5;
    </select>



    <select id="searchPlanet" resultMap="Planet">
        <bind name="bindInfo" value="'%'+info+'%'"></bind>
        select * from knowledge_planet.planet
        where p_name like #{bindInfo} or p_description like #{bindInfo};
    </select>

    <select id="getAllPlanetByUserId" resultMap="UserPlanetDTO">
        select u_id,role,integral,planet.p_code,p_name,create_time,max_number,p_description,p_avatar,hot
        from knowledge_planet.user_planet_rel,knowledge_planet.planet
        where user_planet_rel.p_code=planet.p_code and u_id=#{userId};
    </select>


    <select id="getMemNumOfPlanet"  resultType="Integer">
        select count(u_id) from knowledge_planet.user_planet_rel
        where p_code =#{p_code};
    </select>
    <select id="getPlanetOwnerId" resultType="Long">
        select u_id
        from knowledge_planet.user_planet_rel
        where p_code=#{planetCode} and role=1;
    </select>

    <select id="getPlanetByPlanetCode" resultMap="Planet">
        select p_code, p_name, create_time, max_number, p_description, p_avatar, hot
        from knowledge_planet.planet
        where p_code=#{planetCode};
    </select>

    <select id="getPlanet" resultMap="UserPlanetVO">
        select p.p_code as p_code, p_name, create_time, max_number, p_description, p_avatar, hot,integral
        from knowledge_planet.planet p,knowledge_planet.user_planet_rel upr
        where p.p_code=upr.p_code and upr.u_id=#{userId} and role=#{role};
    </select>

    <select id="getIntegral" resultType="Integer">
        select integral
        from knowledge_planet.user_planet_rel
        where p_code=#{planetCode} and u_id=#{userId};
    </select>

    <select id="getUserRank" resultType="Map">
        select u.u_id as userId,integral,u_name as userName,avatar
        from knowledge_planet.user_planet_rel upl,knowledge_planet.user u
        where p_code=#{planetCode} and upl.u_id=u.u_id
        order by integral desc
        limit 50;
    </select>

    <select id="getMemberListOfPlanet"  resultMap="User">
        select u.u_id, u_name ,create_time, update_time,status,avatar ,email
        from knowledge_planet.user u ,knowledge_planet.user_planet_rel upr
        where u.u_id = upr.u_id and upr.p_code =#{planetId};
    </select>

    <delete id="deleteMember">
        delete from knowledge_planet.user_planet_rel
        where u_id = #{userId} and p_code =#{planetCode};
    </delete>

    <select id="getRole" resultType="Integer">
        select role
        from knowledge_planet.user_planet_rel
        where u_id=#{userId} and p_code=#{planetCode};
    </select>


</mapper>