<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.major.knowledgePlanet.mapper.PlanetMapper">

    <resultMap id="BaseResultMap" type="Planet" >
        <result column="p_code" property="pCode"></result>
        <result column="p_name" property="pName"></result>
        <result column="create_time" property="createTime"></result>
        <result column="max_number" property="maxNumber"></result>
        <result column="p_description" property="pDescription"></result>
        <result column="p_avatar" property="pAvatar"></result>
    </resultMap>


    <select id="getHotestPlanet" resultType="Planet" resultMap="BaseResultMap">
        select * from knowledge_planet.planet
        order by hot desc limit 5;
    </select>
</mapper>
