<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.major.knowledgePlanet.mapper.PlanetMapper">
    <resultMap id="Planet" type="Planet">
        <id property="planetCode" column="p_code"/>
        <result property="planetName" column="p_name"/>
        <result property="createTime" column="create_time"/>
        <result property="maxNumber" column="max_number"/>
        <result property="planetDescription" column="p_description"/>
        <result property="planetAvatar" column="p_avatar"/>
        <result property="hot" column="hot"/>
    </resultMap>
    <resultMap id="UserPlanetDTO" type="UserPlanetDTO">
        <id property="userId" column="u_id"/>
        <result property="role" column="role"/>
        <result property="integral" column="integral"/>
        <association property="planet" resultMap="Planet"/>
    </resultMap>
    <resultMap id="RecommendPlanetVO" type="RecommendPlanetVO">
        <result property="uploaderName" column="u_name"/>
        <result property="uploaderAvatar" column="avatar"/>
        <association property="planet" resultMap="Planet"/>
    </resultMap>
    <resultMap id="UserPlanetRel" type="UserPlanetRel">
        <id property="userId" column="u_id"/>
        <result property="role" column="role"/>
        <result property="integral" column="integral"/>
        <result property="planetCode" column="p_code"/>
    </resultMap>
    


    <insert id="addPlanet" parameterType="Planet" useGeneratedKeys="true" keyProperty="planetCode">
        insert knowledge_planet.planet(p_name, create_time,max_number, p_description, p_avatar, hot)
        values(#{planetName},#{createTime},#{maxNumber},#{planetDescription},#{planetAvatar},#{hot});
    </insert>

    <insert id="addUserPlanetRel" parameterType="UserPlanetRel">
        insert knowledge_planet.user_planet_rel(u_id, p_code, role, integral)
        values(#{userId},#{planetCode},#{role},#{integral});
    </insert>

    <select id="getHotestPlanet" resultType="Planet" resultMap="Planet">
        select p_code , p_name ,create_time ,max_number,p_description , p_avatar ,hot from knowledge_planet.planet
        order by hot desc limit 5;
    </select>

    <select id="getRecommendPlanet" resultMap="RecommendPlanetVO">
        select p.p_code,p_name,p.create_time,max_number,p_description,p_avatar,hot,u_name ,avatar
        from knowledge_planet.user u,knowledge_planet.planet p,knowledge_planet.user_planet_rel upr
        where u.u_id=upr.u_id and p.p_code=upr.p_code and role=1
        order by hot desc limit 5;
    </select>



    <select id="searchPlanet" resultMap="Planet">
        <bind name="bindInfo" value="'%'+info+'%'"></bind>
        select * from knowledge_planet.planet
        where p_name like #{bindInfo} or p_description like #{bindInfo};
    </select>

    <select id="getAllPlanetByUserId" resultMap="UserPlanetDTO">
        select u_id,role,integral,planet.p_code,p_name,create_time,max_number,p_description,p_avatar,hot
        from knowledge_planet.user_planet_rel,knowledge_planet.planet
        where user_planet_rel.p_code=planet.p_code and u_id=#{userId};
    </select>


    <select id="getMemNumOfPlanet"  resultType="Integer">
        select count(u_id) from knowledge_planet.user_planet_rel
        where p_code =#{p_code};
    </result>
    <select id="getPlanetOwnerId" resultType="Long">
        select u_id
        from knowledge_planet.user_planet_rel
        where p_code=#{planetCode};
    </select>

    <select id="getPlanetByPlanetCode" resultMap="Planet">
        select p_code, p_name, create_time, max_number, p_description, p_avatar, hot
        from knowledge_planet.planet
        where p_code=#{planetCode};

    </select>


</mapper>