<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.major.knowledgePlanet.mapper.ResourceMapper">


    <insert id="uploadResource" parameterType="Resource" useGeneratedKeys="true" keyProperty="r_id">
        insert into knowledge_planet.resource(u_id,p_code,u_name,r_name,upload_time,link,coverage,r_description)
        values (#{u_id},#{p_code},#{u_name},#{r_name},#{upload_time},#{link},#{coverage},#{r_description});
    </insert>

    <update id="upDatePraise" parameterType="Resource" >
        update knowledge_planet.resource
        set praise_count = #{praise_count}
        where r_id = #{r_id};
    </update>


    <select id="getResourceById" parameterType="Long" >
        select * from knowledge_planet.resource
        where r_id=#{r_id};
    </select>


</mapper>