<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.major.knowledgePlanet.mapper.TopicMapper">
    <resultMap id="Topic" type="Topic">
        <id property="topicId" column="topic_id"/>
        <result property="planetCode" column="p_code"/>
        <result property="userId" column="u_id"/>
        <result property="time" column="time"/>
        <result property="praiseCount" column="praise_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="content" column="content"/>
        <result property="picture" column="picture"/>
    </resultMap>
    <resultMap id="TopicVO" type="TopicVO">
        <id property="topic.topicId" column="topic_id"/>
        <result property="userName" column="u_name"/>
        <result property="avatar" column="avatar"/>
        <association property="liked" select="selectLiked" column="{userId=userId,topicId=topic_id}"/>
        <association property="topic" resultMap="Topic"/>
    </resultMap>


    <insert id="insertTopic" parameterType="Topic" useGeneratedKeys="true" keyProperty="topicId">
        insert into knowledge_planet.topic(p_code,u_id,time,content,picture)
        values (#{planetCode},#{userId},#{time},#{content},#{picture});
    </insert>

    <select id="getAllTopic" parameterType="Long" resultMap="TopicVO">
        select t.topic_id, t.u_id,time,praise_count,comment_count,picture,content,u.u_name,avatar,p_code,#{userId} as userId
        from knowledge_planet.topic t join knowledge_planet.user u on u.u_id=t.u_id
        where p_code = #{planetCode} and status=1
        order by time desc;
    </select>

    <update id="changeCommentCount">
        update knowledge_planet.topic
        set comment_count=comment_count+#{delta}
        where topic_id=#{topicId};
    </update>


    <insert id="changeTopicUserRel">
        replace knowledge_planet.topic_user_rel(topic_id, u_id, is_liked)
        values(#{topicId},#{userId},#{liked});
    </insert>

    <update id="changePraiseCount">
        update knowledge_planet.topic
        set praise_count=praise_count+#{delta}
        where topic_id=#{topicId};
    </update>

    <select id="selectLiked" resultType="Boolean">
        select ifnull((select is_liked
        from knowledge_planet.topic t join knowledge_planet.topic_user_rel tul on t.topic_id=tul.topic_id
        where tul.u_id=#{userId} and t.topic_id=#{topicId}),0) as is_liked;
    </select>
</mapper>